// Navigation Styles here
nav{
    .top{
    width: 50%;
    margin: 0 auto 1%;
    padding: 1% 0;
    .flexb(space-between, center);
    }

    border-bottom: 2px dashed @navigation-border;
    
    a{
        text-decoration: none;
        color: @shark;
        font-size: 1.6rem;
        padding: 1rem;

    }
}

